.header__lang-link {
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 15px;
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility; 
}

.header__lang-link:last-child {
    margin-right: 0;
}


.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 568px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }

}