.place__link {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #fff;
    color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility; 
}

.place__link:hover {
    opacity: 0.8;
}