.place__url-heading {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}